# Modèle de variables d'environnement (copier vers .env et ne pas commiter)
GEMINI_API_KEY=
CHATGPT_API_KEY=
COPILOT_API_KEY=
NOTIFICATION_MANAGER_API_KEY=
HYDRAO_API_KEY=
HYDRAO_EMAIL=
HYDRAO_PASSWORD=
HYDRAO_UUID=
PHILIPS_HUE_TOKEN=
PHILIPS_HUE_HUB_IP=
PHILIPS_TV_PASSWORD=
PHILIPS_TV_SECRET=
JEEDOM_API_KEY=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
PHILIPS_HUE_CLIENT_KEY=
PHILIPS_TV_IP=
PHILIPS_TV_PORT=
PHILIPS_TV_MAC=
PHILIPS_TV_USERNAME=
RCLONE_CONFIG_GOOGLE_DRIVE_TOKEN=
RCLONE_CONFIG_GOOGLE_DRIVE_TYPE=
RCLONE_CONFIG_GOOGLE_DRIVE_CLIENT_ID=
RCLONE_CONFIG_GOOGLE_DRIVE_CLIENT_SECRET=
REOLINK_IP=
REOLINK_USERNAME=
REOLINK_PASSWORD=
